* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #17181f;
  color: #aaa;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  gap: 1rem;
}

form {
  border: 3px solid #30313d;
  border-radius: 10px;
  padding: 8px;
  display: flex;
  align-items: center;
  width: 40%;
}

form input[type="text"] {
  background: none;
  border: none;
  padding: 0px 8px;
  width: 100%;
  outline: none;
  color: #fff;
}
form button {
  background-color: #61dafb;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 5px 8px;
}
.task {
  width: 40%;
  background-color: #30313d;
  border-radius: 10px;
  padding: 8px 10px;
  display: flex;
  align-items: center;
}
.task svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
