* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #17181f;
  color: #aaa;
}

.main {
  max-width: 300px;
  margin: 0 auto;
}

form {
  border: 3px solid #30313d;
  border-radius: 10px;
  padding: 8px;
  display: flex;
  align-items: center;
}

form input[type="text"] {
  background: none;
  border: none;
  padding: 0px 8px;
  width: 100%;
  outline: none;
}
form button {
  background-color: #61dafb;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 5px 8px;
}
