* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #17181f;
  color: #aaa;
}
form input[type="text"] {
  background: none;
  border: 3px solid #30313d;
  border-radius: 10px;
  padding: 5px 8px;
}
